:root {
    --speakers-width: 300px;
}

.page {
    padding: 0 20px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: [col1-start] auto  [col2-start] auto [col2-end];
    grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];

    /* max-width: 1600px; */
    /* padding: 0 20px; */
    margin: auto;
}

.box {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: #fff;
}


.video {
    grid-column: col1-start / col2-start;
    /* grid-row: row1-start; */
}

.frames {
    grid-row: row2-start;
    overflow: hidden
}

.video video {
    width: 100%;
    display: block;
}

.speakers {
    grid-column: col3-start;
    grid-row: row1-start / row4-end;
    width: var(--speakers-width)
}

.utterances {
    grid-column: col1-start / col2-start;
    grid-row: row1-start;
}

.tab {
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0;
    --movement: -3px;
    transition: transform 2s ease;
    font-size: 0.7em;
}

.tab li:hover {
    transform: translateY(var(--movement));
    opacity: 0.8;
}

.tab li.selected {
    transform: translateY(var(--movement));
    background-color: var(--dark-gray);
    color: white;
}

.tab li {
    position: relative;
    top: 0;
    display: inline-block;
    padding: 7px 10px;
    background-color: var(--gray);;
    cursor: pointer;
    border-radius: 0 0 5px 5px;
}

.tab li + li {
    margin-left: 5px;
}