/*
 * Global constants goes here
 */
:root {
    --primary-color: #195145;
    --secondary-color: #F3D3BD;
    --white: #C9C8C7;
    --black: #333333;
    --gray: #d3dce6;
    --dark-gray: #636161;
}

* {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


/*
 * Global CSS goes here, it requires to use :global before each style
 */
:global html {
    height: 100%;
}
:global body {
    height: 100%;
    margin: auto;
    background: var(--white);
    font-family: Source Sans Pro, Helvetica, sans-serif;
}
:global #app {
    color: #2c3e50;
    font-family: Source Sans Pro, Helvetica, sans-serif;
    text-align: center;
    
}

:global .btn {
    padding: 10px 20px;
}

h1 {
    color: var(--black)
}